@model BookStoreInfoMgtSys.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Edition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Edition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Publisher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublicationYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShelfNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShelfNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalNumberOfCopies)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalNumberOfCopies)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfBooksOnLoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfBooksOnLoan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfBooksAvailable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfBooksAvailable)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
