@model IEnumerable<BookStoreInfoMgtSys.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelfNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNumberOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfBooksOnLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfBooksAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNumberOfCopies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfBooksOnLoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfBooksAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
