@model BookStoreInfoMgtSys.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.College)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.College)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnrollmentYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Section)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Section)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
