@model BookStoreInfoMgtSys.Models.BookLoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BookLoan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoanDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoanDueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanDueDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Returned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Returned)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
