@model BookStoreInfoMgtSys.Models.BookLoan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookLoan</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.LoanDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoanDate)
            @Html.ValidationMessageFor(model => model.LoanDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoanDueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoanDueDate)
            @Html.ValidationMessageFor(model => model.LoanDueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Returned)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Returned)
            @Html.ValidationMessageFor(model => model.Returned)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
